# Virtual Environment
.venv/
venv/
env/

# Flask Session files
flask_session/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db 